<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>Simple Web App</title>
</head>
<body>
  <div class='container'>
    <main class='notfound'>
      <h1 class='notfound--h1'>
        {{msg}}
      </h1>
      <h2 class='notfound--h2'>
        Click <a href='/'>here</a> to go back to the Homepage.
      </h2>
    </main>
    {{>footer}}
  </div>
</body>
</html>