<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <title>{{ title }}</title>
</head>
<body>
  <div class='container'>
  {{>header}}
    <main class='about'>
      <h1>About this App</h1>
      <h2>Reviewing the basics of Express</h2>
      <p>
        I am quickly reviewing the basics of Express.
      </p>
      <p>
        I haven't touched Node and Express in a while as I have been focusing mainly on frontend technologies like
        <ul>
          <li>React</li>
          <li>React Hooks</li>
          <li>React Context and how to use it with Hooks</li>
          <li>Redux and React-redux</li>
          <li>Reviewed the Semantic UI CSS Framework</li>
          <li>Reviewed Basic CSS, including Flexbox and Grid</li>
        </ul>
      </p>
    </main>
  </div>
  {{>footer}}
</body>
</html>