<navbar class='navbar'>
  <ul class='navbar--list'>
    <li class='navbar--list--item'> <a href='/'>Home</a></li>
    <li class='navbar--list--item'> <a href='/about'>About</a></li>
    <li class='navbar--list--item'> <a href='/data'>Data</a></li>
  </ul>
</navbar>